
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Base styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bebas-neue-regular;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.container {
    flex: 1;
    display: block;
}

section {
    padding: 20px;
    margin: 0;

}

/* Navigation styles */
nav {
    background-color: #333;
    background-image: url("headbackground1_1_25.jpg");
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 10px;
    position: relative;
    height: 400px;
 
}





nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1; /* Ensure the overlay is above the background */
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2; /* Ensure nav-container is above the overlay */
    
}

.nav-wrapper {
    display: block;
    justify-content: center;
    width: 100%;
}

.hero-container {
    color: #fff;
    font-size: 24px;
    margin: 0;
    display: block;
    text-align: center;
    z-index: 1; /* Ensure hero text is above the overlay */
    order: 2;
    position: relative;
}

.hero-container p {
    font-family: bebas-neue-regular;
    font-size: 30px;
    font-weight:100;
    z-index: 1;
    
    
}

.hero-container span {
    font-family: bebas-neue-regular;
    font-size: 55px;
    font-weight:1700;
    letter-spacing: 6px;
    text-shadow: 2ch black 3px;
    z-index: 1;
}



.logo {
    display: flex;
    align-items: center;
    z-index: 2;
    
    
    
}

.nav-menu {
    list-style: none;
    display: none;
    padding: 0;
    margin: 0;
    z-index: 2;
    letter-spacing: 5px;
}

.nav-menu li {
    margin-right: 20px;
    display: inline-block;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 1lvh;
    font-weight: lighter;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease, all 0.3s ease; /* Apply transition to transform and color */
}

.nav-menu li a:hover {
    color: #fff;
    text-decoration: none;
    padding: 1lvh;
    font-weight: lighter;
    transform: scale(1.2); /* Slightly scale up the font size */
}

.burger-menu {
    display: none;
    cursor: pointer;
    z-index: 4;
    
    

   
}

.burger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    
}

/* Hide the checkbox */
.burger-toggle {
    display: none;
}

.dropdown-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    position: absolute;
    top: 0;
    right:0;
    left:0;
    width: 100%;
    z-index: 10;
    order: 1;
   
}

.dropdown-menu li {
    margin: 5px;
    padding: 10px;
    border-bottom: 1px solid #444;
    z-index:5;
}

.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight:normal;
    transition:font-weight 0.3 ease ;
    z-index:5;
    padding:5px;
}


.dropdown-menu li a:hover {
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight:bold;
    z-index: 5;
    
}

/* Media queries */
@media (min-width: 700px) {
    .container {
        display: flex;
    }
    section {
        flex: 1;
        margin: 10px;
    }

    .produkte-container {
        border-top: none; /* Remove left border */
        border-left: 5px solid black; /* Add top border */
    }

}

@media (min-width: 800px) {
    .nav-menu {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }
    .burger-menu {
        display: none;
        z-index: 5;
    }
    .dropdown-menu {z-index: 5;


    }



    
}

@media (max-width: 800px) {
    .nav-menu {
        display: none;
    }
    .burger-menu {
        display: block;
        z-index: 5;
        z-index: 11;
   
    }

    /* Show dropdown menu when checkbox is checked */
    .burger-toggle:checked ~ .dropdown-menu {
        display: block;
        z-index: 10;
       
    }

    .about-container {
        font-size: 20px;
    }

    .services-container {
        font-size: 20px;
    }

    .produkte-container {
        font-size: 20px;
        /* Here you can override border styles if needed, but the main change is in the 600px query */
    }

 
}

@media (max-width: 700px) {
    .about-container {
        font-size: 20px;
        border-top: 5px solid  #aa6c0e; /* Add a horizontal line on the top */
        border-left: none; /* Remove the left border */
    }

    
    .services-container {
        font-size: 20px;
        border-top: 5px solid  #aa6c0e; /* Add a horizontal line on the top */
        border-left: none; /* Remove the left border */
    }
    
    .produkte-container {
        font-size: 20px;
        border-top: 5px solid  #aa6c0e; /* Add a horizontal line on the top */
        border-left: none; /* Remove the left border */
    }

    

}

/* Content section styles */
.content-section {
    display: none;
}

/* Display the targeted section */
#home:target, #about:target, #services:target, #products:target, #contact:target {
    display: block;
    
   
}

.willkommen {font-weight: 100; font-size:larger; letter-spacing: 10px; order: 3;}


.section-style1 {

    color: white;
    background-color:black;
}

/* Container for the flip effect */
.flip-container {
    margin: 0; padding:0;
    padding-bottom: 20px;
    perspective: 1000px; /* Gives a perspective to the 3D effect */
    width: 100%; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
}

/* The flipping container */
.flipper {
    margin: 0; padding:0;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s; /* Smooth transition for the flip effect */
    transform-style: preserve-3d; /* Enables 3D space for children */
}

/* Flip effect on hover or click */
.flip-container:hover .flipper,
.flip-container:focus .flipper {
    margin: 0; padding:0;
    transform: rotateX(180deg); /* Flips the container */
}

/* Front and back sides */
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 100;
    backface-visibility: hidden; /* Hides the back side when facing away */
}

.back p {
    font-weight: 100; 
    text-align:center; 
    font-size:16px;
    letter-spacing:2px;}

    .back span {
        font-weight: 100; 
        text-align:center; 
        font-size:16px;
        letter-spacing:3px;}

/* The front side */
.front {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    font-weight:100;
}

.front h2 {
    font-weight:100;
    letter-spacing:5px;
}

.front h2 strong {
    font-weight:100;
    letter-spacing:5px;
    color:#aa6c0e;
}


/* The back side */
.back {
    background-color: #aa6c0e;
    color: #fff; /* Adjust text color as needed */
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateX(180deg); /* Start the back side rotated 180 degrees */
}

div { margin:0; padding:0;}





.background-friseur {
    background-image: url("friseurimage2.jpg");
    background-size: cover; /* Use cover to ensure the image covers the container */
    background-repeat: no-repeat;
    background-position: center;
    display: flex; /* Use flexbox to manage the layout */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100vh; /* Make the container take full viewport height */
    width:100%;
}   

.kontakt {
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%; /* Take half of the parent container */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    color: #fff; /* Text color */
    text-align: center; /* Center the text */
    height:100%;
    padding:20px;
    margin:0;
}

.kontakt:hover {
    background-color: rgba(170, 108, 14, 0.404); 
}


.kontakt h1 { font-size:40px; font-weight:400}
.kontakt p { font-size: 30px; font-weight:300}
.kontakt span { font-size: 30px; font-weight:300}

.zeit:hover {
    background-color: #aa6c0e;
}

.zeiten h1 {
     font-size:40px;
     text-align:center;
     font-weight:100
}

.zeiten h2 {
    font-size:30px;
    font-weight:100;
}

.zeiten h3 {
    font-size:25px;
    font-weight:300;
}


.zeiten p {
   font-size:20px;
   font-weight:300;
}


.fit-content-container { width:fit-content; 
height: fit-content;}


.hover:before {content:"";
background-color: rgba(197, 145, 0, 0.411); position: absolute; width: 100%; height:100%;}
    

.span1line {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
    margin-left:0;
    
}

.span1linecenter {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
    text-align: center;
   
    
}
.hundertvh {width:100vh;}

.padding10 { padding-top:10px;margin-top:10px;}
.padding0 { padding:0; margin:0}
.padding5 { padding-top:5px;}

.negativepadding { padding-top:-2rem; margin-top:-0.9rem;}


.footer h1 {
    font-weight:100;
    font-size: 30px;
    color:#aa6c0e
}


.about { 
    padding:20px; 
    font-size:4vh; 
    letter-spacing:5px; 
    font-weight:100;
}

.about-container {
    font-size: 20px;
    border-left: 5px solid #aa6c0e; /* Add a vertical line on the left */
}


.services { 
    padding:20px; 
    font-size:4vh; 
    letter-spacing:5px; 
    font-weight:100;
}

.services-container {
    font-size: 20px;
    border-left: 5px solid #aa6c0e; /* Add a vertical line on the left */
}


.produkte { 
    padding:20px; 
    font-size:4vh; 
    letter-spacing:5px; 
    font-weight:100;
}


.produkte-container {
    font-size: 20px;
    border-left: 5px solid #aa6c0e; /* Add a vertical line on the left */
}

.produkte-container a { 
    color:  #aa6c0e; 
    text-decoration:none;  
    transition: transform 0.3s ease-out;
    display:inline-flex;}

.produkte-container a:hover { 
    color:  #aa6c0e; 
    text-decoration:none; 
    transform: scale(0.9);
}

.goldwelllogo {
    padding:20px;
    padding-left:0;
    
}


/* Media queries */
@media (max-width: 700px) {


    .about-container {
        border-left: none; /* Remove left border */
        
    } 
    .services-container {
        border-left: none; /* Remove left border */
        
    }

    .produkte-container {
        border-left: none; /* Remove left border */
        
    }
    .goldwelllogo {
        

    }

}

